{{- define "title" -}}
    {{- .Params.Title | default (T .Data.Plural) | default .Data.Plural | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    {{- $taxonomies := .Data.Plural -}}
    {{- $terms := .Data.Terms.ByCount -}}
    {{- $type := .Type -}}

    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title animated pulse faster">
            {{- .Params.Title | default (T $taxonomies) | default $taxonomies | dict "Some" | T "allSome" -}}
        </h2>

        {{- /* Categories Page */ -}}
        {{- if eq $taxonomies "categories" -}}
            <div class="categories-card">
                {{- range $terms -}}
                    {{- $term := .Term -}}
                    {{- $pages := .Pages -}}
                    {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
                    <div class="card-item">
                        <div class="card-item-wrapper">
                            <h3 class="card-item-title">
                                <a href="{{ .RelPermalink }}">
                                    <i class="far fa-folder fa-fw"></i>&nbsp;{{ .Page.Title }}
                                </a>
                            </h3>
                            {{- range first 5 $pages -}}
                                <article class="archive-item">
                                    <a href="{{ .RelPermalink }}" class="archive-item-link">
                                        {{- .Title -}}
                                    </a>
                                </article>
                            {{- end -}}
                            {{- if gt (len $pages) 5 -}}
                                <span class="more-post">
                                    <a href="{{ .RelPermalink }}" class="more-single-link">{{ T "more" }} >></a>
                                </span>
                            {{- end -}}
                        </div>
                    </div>
                    {{- end -}}
                {{- end -}}
            </div>

        {{- else if eq $taxonomies "video" -}}
            <div class="categories-card">
                {{- range $terms -}}
                {{- $term := .Term -}}
                {{- $pages := .Pages -}}
                {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
                <div class="card-item">
                    <div class="card-item-wrapper">
                        <h3 class="card-item-title">
                            <a href="{{ .RelPermalink }}">
                                <i class="fa fa-film fa-fw"></i>&nbsp;{{ .Page.Title }}
                            </a>
                        </h3>
                        {{- range first 5 $pages -}}
                        <article class="archive-item">
                            <a href="{{ .RelPermalink }}" class="archive-item-link">
                                {{- .Title -}}
                            </a>
                        </article>
                        {{- end -}}
                        {{- if gt (len $pages) 5 -}}
                        <span class="more-post">
                            <a href="{{ .RelPermalink }}" class="more-single-link">{{ T "more" }} >></a>
                        </span>
                        {{- end -}}
                    </div>
                </div>
                {{- end -}}
                {{- end -}}
            </div>

        {{- /* Tag Cloud Page */ -}}
        {{- else if eq $taxonomies "tags" -}}
            <div class="tag-cloud-tags">
                {{- range $.Site.Taxonomies.tags.ByCount -}}
                    <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a>
                {{- end -}}
            </div>

        {{- /* Custom Taxonomy Colab Cloud Page */ -}}
        {{- else if eq $taxonomies "collaborations" -}}
        <div class="categories-card">
            {{- range $terms -}}
            {{- $term := .Term -}}
            {{- $pages := .Pages -}}
            {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
            <div class="card-item">
                <div class="card-item-wrapper">
                    <h3 class="card-item-title">
                        <a href="{{ .RelPermalink }}">
                            <i class="fa fa-users fa-fw"></i>&nbsp;{{ .Page.Title }}
                        </a>
                    </h3>
                    {{- range first 5 $pages -}}
                    <article class="archive-item">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title -}}
                        </a>
                    </article>
                    {{- end -}}
                    {{- if gt (len $pages) 5 -}}
                    <span class="more-post">
                        <a href="{{ .RelPermalink }}" class="more-single-link">{{ T "more" }} >></a>
                    </span>
                    {{- end -}}
                </div>
            </div>
            {{- end -}}
            {{- end -}}
        </div>
        
        {{- /* Custom Taxonomy Audio Cloud Page */ -}}
        {{- else if eq $taxonomies "audio" -}}
        <div class="categories-card">
            {{- range $terms -}}
            {{- $term := .Term -}}
            {{- $pages := .Pages -}}
            {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
            <div class="card-item">
                <div class="card-item-wrapper">
                    <h3 class="card-item-title">
                        <a href="{{ .RelPermalink }}">
                            <i class="fa fa-music fa-fw"></i>&nbsp;{{ .Page.Title }}
                        </a>
                    </h3>
                    {{- range first 5 $pages -}}
                    <article class="archive-item">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title -}}
                        </a>
                    </article>
                    {{- end -}}
                    {{- if gt (len $pages) 5 -}}
                    <span class="more-post">
                        <a href="{{ .RelPermalink }}" class="more-single-link">{{ T "more" }} >></a>
                    </span>
                    {{- end -}}
                </div>
            </div>
            {{- end -}}
            {{- end -}}
        </div>

        {{- /* Custom Taxonomy Event Cloud Page */ -}}
        {{- else if eq $taxonomies "event" -}}
        <div class="categories-card">
            {{- range $terms -}}
            {{- $term := .Term -}}
            {{- $pages := .Pages -}}
            {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
            <div class="card-item">
                <div class="card-item-wrapper">
                    <h3 class="card-item-title">
                        <a href="{{ .RelPermalink }}">
                            <i class="fa fa-plug fa-fw"></i>&nbsp;{{ .Page.Title }}
                        </a>
                    </h3>
                    {{- range first 5 $pages -}}
                    <article class="archive-item">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title -}}
                        </a>
                    </article>
                    {{- end -}}
                    {{- if gt (len $pages) 5 -}}
                    <span class="more-post">
                        <a href="{{ .RelPermalink }}" class="more-single-link">{{ T "more" }} >></a>
                    </span>
                    {{- end -}}
                </div>
            </div>
            {{- end -}}
            {{- end -}}
        </div>
        {{- /* Custom Taxonomy Event Cloud Page */ -}}
        {{- else if eq $taxonomies "event" -}}
        <div class="tag-cloud-tags">
            {{- range $.Site.Taxonomies.event.ByCount -}}
            <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a>
            {{- end -}}
        </div>
        {{- end -}}
    </div>
{{- end -}}